TMDB_API_KEY=
HOST=0.0.0.0
PORT=3000
NODE_ENV=development
TMDB_CACHE_TTL=86400
CACHE_TYPE=memory
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
STREMIO_ADDON=true
CORS_ORIGIN=*
MCP_ENABLED=true
INTERNAL_DEBUG=true
